
html
head
	title Trangshop
	link(rel="stylesheet" type="text/css" href="/css/shop.css")



	body
		div.top-nav-bar
			a(href="trangshop.jade")
			img(src="/images/logo.jpg" class="logo")
		div.a1
			ul(class="ul123")
				li
					li
						a(href="")

								
			div.123
				
			

		section(style="background: black;width: 100%;height: 400px;")
			
			div.button

				ul.ul1
				li.whiteword For the late night creator who knows that progress never sleep
				p.whiteword.btn SHOP NOW
				p.whiteword.btn DISCOVER MORE

		div.content
			div.second
			div.middle

				div.product
				img(style="margin-left: 100px" src="/images/sp1.jpg" width="200px" height="200px")
				img(style="margin-left: 100px" src="/images/sp2.jpg" width="200px" height="200px")
				img(style="margin-left: 100px" src="/images/sp3.jpg" width="200px" height="200px")
				img(style="margin-left: 100px" src="/images/sp4.jpg" width="200px" height="200px")
				img(style="margin-left: 100px" src="/images/sp5.jpg" width="200px" height="200px")
				img(style="margin-left: 100px" src="/images/sp6.jpg" width="200px" height="200px")
				img(style="margin-left: 100px" src="/images/sp7.jpg" width="200px" height="200px")
				img(style="margin-left: 100px" src="/images/sp8.jpg" width="200px" height="200px")
				img(style="margin-left: 100px" src="/images/Giaodien.jpg" width="200px" height="200px")
				img(style="margin-left: 100px" src="/images/sp5.jpg" width="200px" height="200px")


			
		
	footer
			div.left
				li SPORTS
				li Football
				li Golf
				li Running
				li Tennis
				li ranning

			div.center
				li COMPANY INFO
				li Partners
				liPress

			div.right
				li HELP
				li Catalogue
				li Corporate
				li General
				li Producs